<ion-view class="perks-feed-view" hide-back-button="true" hide-nav-bar="true">
<ion-header-bar class="bar bar-header item-input-inset">
<div class="buttons buttons-left header-item">
<span class="left-buttons">
<button class="button button-icon button-clear ion-ios-drag" menu-toggle="left">
</button>
</span>
</div>
<div class="item-input-wrapper">
<label class="item-input-wrapper">
   <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
</label>

</div>
</ion-header-bar>
<ion-content>
</ion-content>
</ion-view>